In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data.csv")
df["time"] = pd.to_datetime(df["time"], unit="s")
df["coinbase_btcusd_price"] = pd.to_numeric(df["coinbase_btcusd_price"])
df["local_portfolio_usd_balance"] = pd.to_numeric(df["local_portfolio_usd_balance"])
df = df.set_index("time")

In [3]:
df.ffill(inplace=True)
df

,local_portfolio_usd_balance,local_portfolio_btc_balance,coinbase_btcusd_price
time,,,
2021-07-19 12:24:40,100000.0,0.0,31232.709091
2021-07-19 12:24:50,100000.0,0.0,31249.587143
2021-07-19 12:25:00,100000.0,0.0,31251.882353
2021-07-19 12:25:10,100000.0,0.0,31232.918182
2021-07-19 12:25:20,100000.0,0.0,31229.156923
2021-07-19 12:25:30,100000.0,0.0,31230.817778
2021-07-19 12:25:40,100000.0,0.0,31229.688000
2021-07-19 12:25:50,100000.0,0.0,31223.926364
2021-07-19 12:26:00,100000.0,0.0,31214.111875
2021-07-19 12:26:10,100000.0,0.0,31215.271250
2021-07-19 12:26:20,100000.0,0.0,31212.456364
2021-07-19 12:26:30,100000.0,0.0,31212.456250
2021-07-19 12:26:40,100000.0,0.0,31222.471250
2021-07-19 12:26:50,100000.0,0.0,31224.571579
2021-07-19 12:27:00,100000.0,0.0,31223.700769
2021-07-19 12:27:10,100000.0,0.0,31216.573889
2021-07-19 12:27:20,100000.0,0.0,31223.651667
2021-07-19 12:27:30,100000.0,0.0,31225.188571
2021-07-19 12:27:40,100000.0,0.0,31222.940000
2021-07-19 12:27:50,100000.0,0.0,31223.278571
2021-07-19 12:28:00,100000.0,0.0,31225.012222
2021-07-19 12:28:10,100000.0,0.0,31224.792500
2021-07-19 12:28:20,100000.0,0.0,31229.456667
2021-07-19 12:28:30,100000.0,0.0,31237.051111
2021-07-19 12:28:40,100000.0,0.0,31244.267778
2021-07-19 12:28:50,100000.0,0.0,31244.265000
2021-07-19 12:29:00,100000.0,0.0,31240.976000
2021-07-19 12:29:10,100000.0,0.0,31232.241250
2021-07-19 12:29:20,100000.0,0.0,31228.210000
2021-07-19 12:29:30,100000.0,0.0,31231.485455
2021-07-19 12:29:40,100000.0,0.0,31228.780000
2021-07-19 12:29:50,100000.0,0.0,31229.997778
2021-07-19 12:30:00,100000.0,0.0,31229.954286
2021-07-19 12:30:10,100000.0,0.0,31207.763651
2021-07-19 12:30:20,100000.0,0.0,31187.065556
2021-07-19 12:30:30,100000.0,0.0,31202.949565
2021-07-19 12:30:40,100000.0,0.0,31203.676000
2021-07-19 12:30:50,100000.0,0.0,31193.947419
2021-07-19 12:31:00,100000.0,0.0,31198.839091
2021-07-19 12:31:10,100000.0,0.0,31166.879444
2021-07-19 12:31:20,100000.0,0.0,31106.090073
2021-07-19 12:31:30,100000.0,0.0,31120.469286
2021-07-19 12:31:40,100000.0,0.0,31127.459474
2021-07-19 12:31:50,100000.0,0.0,31118.449167
2021-07-19 12:32:00,100000.0,0.0,31123.060370
2021-07-19 12:32:10,100000.0,0.0,31133.140000
2021-07-19 12:32:20,100000.0,0.0,31124.023684
2021-07-19 12:32:30,100000.0,0.0,31123.479762
2021-07-19 12:32:40,100000.0,0.0,31122.878000
2021-07-19 12:32:50,100000.0,0.0,31111.502754
2021-07-19 12:33:00,100000.0,0.0,31103.211053
2021-07-19 12:33:10,100000.0,0.0,31122.582903
2021-07-19 12:33:20,100000.0,0.0,31136.449677
2021-07-19 12:33:30,100000.0,0.0,31142.228333
2021-07-19 12:33:40,100000.0,0.0,31137.710286
2021-07-19 12:33:50,100000.0,0.0,31123.343636
2021-07-19 12:34:00,100000.0,0.0,31110.618929

In [4]:
new_data = pd.read_csv("./update_data.csv")
new_data["time"] = pd.to_datetime(new_data["time"], unit="s")
new_data = new_data.set_index("time")

In [5]:
df = df.combine_first(new_data)

In [6]:
update = pd.DataFrame({ "time": [pd.to_datetime(1626698300, unit="s")], "local_portfolio_usd_balance": [1000] })
update = update.set_index("time")

df = df.combine_first(update).resample("10s").mean()

In [7]:
len(df)

83

In [8]:
key = dict(df.iloc[0: 10])["coinbase_btcusd_price"].keys()[0] + pd.to_timedelta(11, unit="S")
df.iloc[df.index.get_loc(key, "ffill")]

coinbase_btcusd_price           31249.587143
local_portfolio_btc_balance         0.000000
local_portfolio_usd_balance    100000.000000
Name: 2021-07-19 12:24:50, dtype: float64

In [9]:
pd.DataFrame({ "coinbase_btcusd_price": [np.nan] }, index={ pd.to_datetime(1626698300, unit="s") })

                     coinbase_btcusd_price
2021-07-19 12:38:20                    NaN

In [10]:
df.index[0]

Timestamp('2021-07-19 12:24:40', freq='10S')

In [11]:
pd.to_datetime(pd.to_datetime(1626698300, unit="s"), unit="s")

Timestamp('2021-07-19 12:38:20')

In [12]:
pd.to_timedelta(pd.to_timedelta(10, unit="ms"), unit="ms")

Timedelta('0 days 00:00:00.010000')

In [13]:
t0 = pd.to_datetime(pd.to_datetime(1626698310, unit="s"), unit="s")
t1 = df.index[-1]
t0 >= t1

True

In [14]:
pd.to_timedelta(10, unit="ms") * 100

Timedelta('0 days 00:00:01')

In [15]:
current_window = df.iloc[0:10]

In [16]:
for col in current_window:
    for row in current_window[col]:
        print(row)

31232.70909090908
31249.587142857137
31251.882352941182
31232.918181818175
31229.15692307692
31230.817777777775
31229.688
31223.92636363636
31214.111875
31215.271250000005
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
100000.0
100000.0
100000.0
100000.0
100000.0
100000.0
100000.0
100000.0
100000.0
100000.0

In [17]:
df.iloc[0]

coinbase_btcusd_price           31232.709091
local_portfolio_btc_balance         0.000000
local_portfolio_usd_balance    100000.000000
Name: 2021-07-19 12:24:40, dtype: float64

In [18]:
pd.DataFrame().empty

True